<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><img src="/images/covid.png" height="32" width="32" /> COVID-19 Stats</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Cases in the world
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="world-timeline" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> World timeline
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="states" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Confirmed by state
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="timeline-by-state">
                <span class="oi oi-plus" aria-hidden="true"></span> Timeline by state
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cases-by-state">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cases by state
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
